.*
!.gitignore
!.golangci.yml

*_secret.yaml

local.yaml
*_local*.yaml
*_local*.sh
*_local*.go
*_local_test*
*_debug_bin.exe

git_stats

deploy/source
test/local

*/internal/docs/

build

*.txt
*.jpeg